<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8"> 
      <div class="container">
        <div class="row">
          <!-- post -->
          <div class="post col-xl-6" *ngFor="let bP of blogPosts">
            <app-post-card [post]="bP"></app-post-card>
          </div>
          <div class="w-100"><app-paging [page]="page" (newPage)="newPage($event)"></app-paging></div>

          <!--
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-post-2.jpg" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">20 May | 2016</div>
                <div class="category"><a routerLink>Business</a></div>
              </div><a routerLink="/post">
                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <div class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-2.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div>
         
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-post-3.jpeg" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">20 May | 2016</div>
                <div class="category"><a routerLink>Business</a></div>
              </div><a routerLink="/post">
                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <div class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-3.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div>
          
          <div class="post col-xl-6">
            <div class="post-thumbnail"><a routerLink="/post"><img src="/assets/img/blog-post-4.jpeg" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">20 May | 2016</div>
                <div class="category"><a routerLink>Business</a></div>
              </div><a routerLink="/post">
                <h3 class="h4">Alberto Savoia Can Teach You About Interior</h3></a>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <div class="post-footer d-flex align-items-center"><a routerLink class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="/assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                  <div class="title"><span>John Doe</span></div></a>
                <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div> 
        -->
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-search></app-search>
      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts ></app-latest-posts>
      <!-- Widget [Categories Widget]-->
      <app-categories></app-categories>
      <!-- Widget [Tags Cloud Widget]-->
      <app-tags></app-tags>
      </aside>
  </div>
</div>

  